<div id="login-form-container">
    <h2 id="login-form-title">Login:</h2>
    <hr>
    <form id="login-form" action="/api/sessions/login" method="post">

        {{#if error}}
        <div id="error-message">{{error}}</div>
        {{/if}}

        <input type="email" name="email" placeholder="E-mail">
        <input type="password" name="password" placeholder="Password">
        <input type="text" name="web" value="web" hidden>
        <br><br>
        <input id="login-submit-button" type="submit" value="Login">
    </form>
    <br><br>
</div>
<ul>
    <li id="menu-item-1">
        <a id="link-1" href="/">Home Page</a>
    </li>
    <li id="menu-item-2">
        <a id="link-2" href="/register">Registrate</a>
    </li>
</ul>