<h2 id="user-title">Usuario {{user.nombre}}</h2>
<hr>
<h3 id="user-data-title">Datos usuario:</h3>
<p id="user-name">Nombre: <strong>{{user.name}}</strong></p>
<p id="user-email">Correo electrónico: <strong>{{user.email}}</strong></p>
<br><br>
{{>menu}}