<ul>
    <li id="menu-item-1">
        <a id="link-1" href="/">Home Page</a>
    </li>
    <li id="menu-item-2">
        <a id="link-2" href="/register">Registro</a>
    </li>
    <li id="menu-item-3">
        <a id="link-3" href="/login">Login</a>
    </li>
    <li id="menu-item-4">
        <a id="link-4" href="/profile">Perfil</a>
    </li>
    <li id="menu-item-5">
        <a id="link-5" href="/api/sessions/logout">Logout</a>
    </li>
</ul>